body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
    background-repeat:
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
}

h1 h2  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: black;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button {
    background-color: limegreen;
    color: black;
}
